// // base color - 系统预留
// $blue:#324157;
// $light-blue:#3A71A8;
// $red:#C03639;
// $pink: #E65D6E;
// $green: #30B08F;
// $tiffany: #4AB7BD;
// $yellow:#FEC171;
// $panGreen: #30B08F;

// base color - fx67ll
$blue:#1890ff;
// $light-blue:#1890ff;
$light-blue:#2ecc71;
$red:#C03639;
$pink: #E65D6E;
$green: #2ecc71;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #2ecc71;

// // 默认菜单主题风格 - 系统预留
// $base-menu-color:#bfcbd9;
// $base-menu-color-active:#f4f4f5;
// $base-menu-background:#304156;
// $base-logo-title-color: #ffffff;

// $base-menu-light-color:rgba(0,0,0,.70);
// $base-menu-light-background:#ffffff;
// $base-logo-light-title-color: #001529;

// $base-sub-menu-background:#1f2d3d;
// $base-sub-menu-hover:#001528;

// 默认菜单主题风格 - fx67ll
$base-menu-color:#ffffff; // 深色主题菜单标题字体颜色
$base-menu-color-hover:#141414; // 深色主题菜单标题鼠标悬浮字体颜色
$base-menu-color-active:#2ecc71; // 深色主题菜单选中的标题字体颜色
$base-menu-background:#141414; // 深色主题菜单背景色
$base-logo-title-color: #ffffff; // 深色主题左上角logo标题字体颜色

$base-menu-light-color:#434343; // 浅色主题菜单标题字体颜色
$base-menu-light-background:#ffffff; // 浅色主题菜单背景色
$base-logo-light-title-color: #434343; // 浅色主题左上角logo标题字体颜色

$base-sub-menu-background:#434343; // 不分主题，二级菜单背景色
$base-sub-menu-hover:#bfbfbf; // 不分主题，二级菜单背景鼠标悬浮背景色

$base-sidebar-width: 200px;

// // 自定义暗色菜单风格 - 系统预留
// $base-menu-color:hsla(0,0%,100%,.65);
// $base-menu-color-active:#fff;
// $base-menu-background:#001529;
// $base-logo-title-color: #ffffff;

// $base-menu-light-color:rgba(0,0,0,.70);
// $base-menu-light-background:#ffffff;
// $base-logo-light-title-color: #001529;

// $base-sub-menu-background:#000c17;
// $base-sub-menu-hover:#001528;

// $base-sidebar-width: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
