<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			/* v-clock可以解决较慢网速下导致的插值表达式的显示，原因是网速较慢的情况下Vuejs加载的速度不够 */
			[v-cloak]{
				display: none;
			}
			.red{
				color: red;
			}
			.fontsize{
				font-size: 30px;
			}
			.blue{
				color: blue;
			}
			.green{
				color: green;
			}
		</style>
	</head>
	<div id="app">
		
		<!-- 注意这里学习的是Vue2 -->
		
		<!-- Vue1的总结 -->
		<!-- 1.MVC和MVVM的区别
		2.Vue基本代码结构，el指定控制区域，data指定区域内用到的数据，methods对象指定区域内用到的方法
		3.插值表达式 v-cloak v-text v-html v-bind(缩写是:) v-on(缩写是@) v-model v-for v-if v-show
		4.事件修饰符 .stop .prevent .capture .self .once
		5.在vm实例中如果需要访问data里的数据或methods里的方法，必须带this
		6.在v-for要会使用key属性，只接受string和number -->
		
		
		<!-- v-if和v-show -->
		<!-- v-if的特点是每次都会重新删除和创建元素，对切换性能消耗比较严重，如果元素涉及频繁的切换切勿使用 -->
		<!-- v-show的特点是不会操作dom，而是更改display的样式，不过这个指令有显示性能消耗，意思是用户不需要显示，他也会显示到页面上 -->
		<input type="button" value="切换显示隐藏" @click="toggle"/>
		<p v-if="flag">这里是v-if的显示</p>
		<p v-show="flag">这里是v-show的显示</p>
		
		
		<!-- V-for指令 -->
		<!-- 1.循环普通数组，item是随便定义的，这种写法的i是下标 -->
		<span v-for="item in list">{{item}}</span>
		<span v-for="(item,i) in list">这是第{{i}}项的:{{item}}</span>
		<!-- 2.循环复杂数组，对于对象数组就是通过对象拿到属性就行了 -->
		<p v-for="(item1,i) in listObj">属性1:{{item1.id}},属性2:{{item1.name}},下标:{{i}}</p>
		<!-- 3.循环对象,循环对象时候的i是很少用到的，注意这里的val和key貌似是可以自定义的，但是val和key以及i的顺序是确定的，第一个参数是值，第二参数是键，第三个参数是i -->
		<p v-for="(val,key,i) in obj">该对象的键是：{{key}}，该对象的值是：{{val}}，该对象的索引是：{{i}}</p>
		<!-- 4.迭代数字，in的后面可以放数组，对象数组，对象，以及数字 -->
		<span v-for="count in 10">这是第{{count}}次循环</span>
		<!-- 注意！！！在Vue2.2.0之后的版本中，在组件中使用v-for时，key现在是必须的
		原因是当Vue.js用V-for正在更新已经渲染过的元素列表的时候，他默认是用就地复用的策略，如果数据项的顺序被改变，Vue将不是移动DOM元素来匹配数据项的移动，而是简单的复用个元素，确保他在特定索引下显示已被渲染过的每个元素
		为了给Vue一个提示，以便跟踪每个节点的身份，从而排序和重新排序现有的元素，你需要为每项提供一个唯一的key属性 -->
		<!-- 在v-for循环中，key的属性只能使用number获取string，并且要注意key在使用的时候必须使用v-bind属性绑定，指定key的值 -->
		<p v-for="item in listObj" :key="item.id">
			<input type="checkbox"/>
			{{item.id}}---{{item.name}}
		</p>
		<input type="text" v-model="id">
		<input type="text" v-model="name">
		<input type="button" value="添加" @click="add"/>
		
		
		<!-- 在Vue中绑定Style的几种方式，这里比较简单不写代码应用了 -->
		<!-- 以前我认为花括号里的就是对象，这次再补充一下，对象是无需键值对的集合，若使用有-这个符号的样式在样式属性上必须写引号，没有可以简写不用引号 -->
		<!-- 1.直接在元素上通过:style的形式，写样式对象 -->
		<!-- 2.把样式对象定义到data上，直接引用到:style中 -->
		<!-- 3.在:style中通过数组引用多个data上的样式对象 -->
		
		
		<!-- 在Vue中绑定Class的几种方式 -->
		<!-- 1.直接传递一个数组，使用v-bind做数据绑定，但是这个方法还不如原来方便 -->
		<p :class="['red','fontsize']">这里用于测试Vue的样式</p>
		<!-- 2.在数组中使用三元表达式，不过一般表达式过长，可以改造成第二种写法，不过记住第二种写法需要用到对象 -->
		<p :class="[flag?'blue':'green']">这里继续测试Vue样式</p>
		<p :class="[{'green':flag}]">这里是三元的简写测试Vue样式，提高代码的可读性</p>
		<!-- 3.使用对象应用单个或多个class -->
		<p :class="{red:true,fontsize:true}">继续测试Vue</p>
		<p :class="classObj">测试使用对象应用样式</p>
		
		
		<!-- v-model指令是唯一实现双向绑定的指令，v-bind只能实现单向绑定，但是v-model只能用于表单元素当中 -->
		<input type="text" v-model:value="msg">
		
		
		<!-- 事件修饰符，事件修饰符可以同时使用多个 -->
		<!-- .stop  阻止事件冒泡
		.prevent  阻止默认行为,比如a标签的跳转
		.capture  阻止事件捕获
		.self  实现只有点击当前元素才会触发事件处理函数，相当于阻止了冒泡，但是只阻止当前元素身上的冒泡
		.once  事件只触发一次 -->
		
		
		<!-- v-bind指令是Vue提供绑定属性的指令,v-bind会把属性后面的的代码当做一个表达式去解析，v-bind可以简写为一个英文冒号，v-bind后面可以写合法的js代码 -->
		<!-- v-on用于绑定事件，v-on可以简写成一个@ -->
		<input type="button" value="开始按钮" v-bind:title="mytitle + '字符串变量'" @click="run">
		<input type="button" value="停止按钮" :title="mytitle + '字符串变量'" @click="stop">
		
		
		<!-- 默认v-text是没有闪烁的问题的，但是v-text会导致整个目标容器内的内容都被替换 -->
		<p v-cloak>{{msg}}</p>
		<h4 v-text="msg"></h4>
		<!-- v-html用于插入html代码 -->
		<p v-html="msg1"></p>

		
	</div>
	<body>
		
		<script src="lib/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// vm实例创建之后相当于挂载在了window身上,vm对象里的东西进行操作都可以用this指向到
			var vm = new Vue({
				el: '#app',
				data: {
					msg: 'Hello World!',
					msg1: '<h5>这里是标签</h5>',
					mytitle: '这是一个自定义的title',
					timeid: null ,//在data上定义一个定时器id,不太明白定时器id的作用,似乎就是相当于一个定时器的名称
					flag: true,
					classObj: {red:true,fontsize:true},
					list: [1,2,3,4,5,6],
					listObj: [
						{id:1,name:"n1"},
						{id:2,name:"n2"},
						{id:3,name:"n3"},
						{id:4,name:"n4"}
					],
					obj:{
						id: 1,
						name: "n",
						gender: "male"
					},
					id:'',
					name: ''
				},
				//这里是Vue中事件定义的位置
				//注意在vm实例中调用data上的数据需要使用this.数据属性名后this.方法名来进行访问,这里的this表示vm对象
				//vm对象会监听自己身上的data中所有数据的改变,只要数据发生变化会自动更新数据,这就使得我们只需要关心数据的变化就直接减少了dom的操作
				methods:{
					run:function(){
//						var _this = this;
// 						setInterval( function(){
// 							var startStr = _this.msg.substring(0,1);
// 							var endStr = _this.msg.substring(1);
// 							_this.msg = endStr + startStr;
// 						}, 400);
						if(this.timeid != null) return;			
						// ES6语法中箭头函数的this外部和内部保持一致,等号和右折号中间不能有空格
						this.timeid = setInterval( () => {
							var start = this.msg.substring(0,1);
							var end = this.msg.substring(1);
							this.msg = end+start;
						}, 400)
					},
					//方法可以直接简写成如下格式
					stop(){
						clearInterval(this.timeid);
						this.timeid = null;
					},
					add(){
						this.listObj.unshift({id:this.id,name:this.name});
					},
					toggle(){
						this.flag = !this.flag;
					}
				}
			})
		</script>
	</body>
</html>
